# macOS
.DS_Store



# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.env
.env.local
.env.*.local
dist/
build/
coverage/
.cache/
.next/
.nuxt/
.out/
.parcel-cache/


# IDEs / Editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.iml

# Logs, databases, and runtime files
*.log
logs/
*.sql
*.sqlite
*.sqlite3
*.pid

# Package manager & lock files you don't want
yarn.lock
package-lock.json

# Certificates, keys, secrets
*.pem
*.key
*.crt
credentials.json
.env.*.secret